<!DOCTYPE html>
<html lang="ja" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="./index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>vue_Challenge</title>
    </head>
    <body>
        <div id="app">
            {{ message1 }}
        </div>

        <div id="app-2">
          <span v-if="seen">Now You See Me.</span>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <div id="app-5">
            <p>{{ message2 }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
        </div>

        <div id="app-6">
            <p>{{ message3 }}</p>
            <input v-model="message3">
        </div>

        <script src="./index.js"></script>
    </body>
</html>
